<ion-content (click)="hideSelect()">

    <div class="login-form">
        <img src="../../assets/image/logo.png" class="logo" alt="">
        <ion-grid>

            <ion-row>
                <ion-col size="4">
                    登 陆 名:
                </ion-col>
                <ion-col size="8">
                    <input maxlength="12" type="text" placeholder="请输入登陆名" [(ngModel)]="userID">
                </ion-col>
            </ion-row>

        </ion-grid>
        <button class="login-btn" [ngClass]="{'disable': operating}" [disabled]="operating"
            (click)="login()">登录</button>
        <div class="delayLoad" *ngIf="delayLoad">请在{{delayTime}}秒后重试</div>
    </div>

</ion-content>