.back {
    position: absolute;
   /*  float: left; */
    left: 0.5rem;
    top:0.5rem;
    width: 2rem;
    height: 2rem;
}

.setting-content{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 225, 225);
}
