<ion-content class="welcome">
  <h3>宁波港内集卡项目</h3>
  <!--  <div class="img-wrap"><img src="../../assets/image/flash.png" class="flash-img" alt=""></div> -->
  <!-- <dl>
    <dt><img src="../../assets/image/logo.png" alt=""></dt>
    <dd>RDT-APP</dd>
    <dd>www.ningbogang.com</dd>
  </dl> -->

  <dl>
    <dd>latitude：{{latitude}}</dd>
    <dd>longitude：{{longitude}}</dd>
    <dd>data：{{data1}}</dd>
    <dd>次数：{{i}}</dd>
    <dd>次数：{{i}}</dd>
   
    <dd>网络：{{ socketService.connect}}</dd>


  </dl>
  
 
<app-headsetting></app-headsetting>
  
  

 

 
  <button class="jump" (click)="openLogin()">跳过&nbsp;{{time}}</button>
</ion-content>