<app-headsetting class="headsetting"></app-headsetting>
<div class="command" [ngClass]="{'is_fixed': isFixed}">
  <span>实时指令</span>
</div>
<ion-content (ionScroll)="ionScroll($event)" scrollEvents="true">
  <div class="cmd-wrap" [ngClass]="{'data-bg': instructlist.length === 0}">
    <div class="cmd-list-wrap">
      <ul class="cmd-list">
        <li
          *ngFor="let item of instructlist; let i = index;"
          [ngClass]="{'on': liIndex === i}"
        >
          <div class="cmd-item">
            <span class="span-layout">{{i + 1}}</span><label>箱号:</label>
            <div>
              <span class="box-icon f" *ngIf="item?.TwinStatus === '1'">F</span>
              <span class="box-icon b" *ngIf="item?.TwinStatus === '2'">B</span>
              {{item?.ContainerID}}
            </div>
          </div>
          <div class="cmd-item">
            <span class="span-layout">&nbsp;</span><label>From/To:</label>
            <div style="float: left; width: 50%">{{item?.GotoStatus}}</div>
            <ion-icon
              (click)="handclick(item,i)"
              name="arrow-up-outline"
            ></ion-icon>
          </div>
          <div class="cmd-item">
            <span class="span-layout">&nbsp;</span><label>位置:</label>
            <!--  <div>{{item?.GoToPos + '  ' + item?.door}}</div>-->
          </div>
          <div class="cmd-item">
            <span class="span-layout">&nbsp;</span><label>备注:</label>
            <div>{{item?.Remarks}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
